<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapping/user.xml"/>
        <!--<mapper resource="mapping/UserMapper.xml"/>-->
        <!--<mapper resource="com/rong/spring/mapper/UserMapper.xml"/>-->
       <!--<package name="com.rong.spring.mapper"/>-->
        <!--<mapper resource="com/rong/spring/mapper/UserMapper.xml"/>-->

    </mappers>
</configuration>